.App {
  text-align: left;
}

.App-logo {
  height: 24vmin;
  pointer-events: none;
  margin: 2rem;
  align-self: baseline;
  margin-top: 7rem;
}

.App-header {
  background-color: #002F6C;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-items {
  margin-left: 3rem;
}
